ipykernel

numpy==1.24.3

dbt==1.0.0.40.0
pandas==2.2.3
camelot-py==0.11.0
PyMuPDF==1.23.7
ghostscript==0.7
matplotlib==3.7.2
sqlalchemy==2.0.31
python-dotenv==1.1.0
PyYAML==6.0.2
sh==2.2.2
ipywidgets==4.0.14
opencv-python==4.8.0.76
